{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}

<h3>Editar pedido:</h3>
<div class="card">
    <div class="card-body">
        <form action="/pedidos/edit" method="post">
            <input type="hidden" value="{{pedido._id}}" name="id">
            <label for="cliente">Cliente: </label>
            <input type="hidden" id="clientename" value="{{pedido.cliente._id}}">
            <select name="cliente" id="clienteselecionado" class="form-select">
                {{#each clientes}}
                    <option value="{{_id}}">{{nome}}</option>
                {{else}}
                    <option value="0">Nenhum cliente</option>
                {{/each}}
            </select>
            <label for="produto">Produto(s): </label>
            <div id="produtos">
                {{#each pedido.itens}}
                <div class="produto">
                    <div class="input-group mb-3">
                        <input type="hidden" class="produtoname" value="{{produto._id}}">
                        <select name="produto[]" class="form-select produtoselecionado">
                            {{#each ../produtos}}
                                <option value="{{_id}}">{{nome}} - R$ {{preco}}</option>
                            {{else}}
                                <option value="0">Nenhum produto</option>
                            {{/each}}
                        </select>
                        <label class="input-group-text" for="quantidade">Quantidade: </label>
                        <input type="number" name="quantidade[]" class="form-control" onchange="calcularTotal()" value="{{quantidade}}">
                        <button class="btn btn-primary" type="button" onclick="adicionarProduto()">+</button>
                        <button class="btn btn-danger" type="button" onclick="removerProduto(this)">-</button>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="frete">Frete:</label>
                <span class="input-group-text">R$</span>
                <input type="number" name="frete" id="frete" class="form-control" onchange="calcularTotal()" value="{{pedido.frete}}" step="any">
            </div>
            <div class="input-group mb-3 mt-2">
            <label class="input-group-text" for="pagamento">Forma de pagamento</label>
            <select class="form-select" name="pagamento">
                <option value="{{pedido.pagamento}}">{{pedido.pagamento}}</option>
                <option value="0">Escolha...</option>
                <option value="Pix">Pix</option>
                <option value="Dinheiro">Dinheiro</option>
                <option value="Cartão">Cartão</option>
            </select>
            </div>
            <label for="descricao">Descrição: </label>
            <textarea name="descricao" placeholder="Descrição do pedido" class="form-control">{{pedido.descricao}}</textarea> 
            <label for="total">Total: </label>
            <div class="input-group mb-3">
                <span class="input-group-text">R$</span>
                <input type="number" name="total" id="total" value="{{pedido.total}}" class="form-control" readonly>
            </div>
            <button class="btn btn-outline-primary mt-3" type="submit">Salvar</button>
        </form>
    </div>
</div>

<script type="text/javascript">  
    var cliente = document.getElementById("clientename").value
    document.getElementById("clienteselecionado").value = cliente

    var produtos = document.querySelectorAll(".produtoname")
    var selects = document.querySelectorAll(".produtoselecionado")
    for (var i = 0; i < produtos.length; i++) {
        selects[i].value = produtos[i].value
    }
</script>

<script>
    function adicionarProduto() {
        var produtosDiv = document.getElementById('produtos')
        var novoProdutoDiv = document.createElement('div')
        novoProdutoDiv.classList.add('produto')
        novoProdutoDiv.innerHTML = `
            <div class="input-group mb-3">
                <select name="produto[]" class="form-select">
                            {{#each produtos}}
                                <option value="{{_id}}">{{nome}} - R$ {{preco}}</option>
                            {{else}}
                                <option value="0">Nenhum produto</option>
                            {{/each}}
                        </select>
                <label class="input-group-text" for="quantidade">Quantidade: </label>
                <input type="number" name="quantidade[]" class="form-control" onchange="calcularTotal()">
                <button class="btn btn-primary" type="button" onclick="adicionarProduto()">+</button>
                <button class="btn btn-danger" type="button" onclick="removerProduto(this)">-</button>
            </div>
        `;
        produtosDiv.appendChild(novoProdutoDiv)
    }

    function removerProduto(elemento) {
        var produtoRemover = elemento.parentNode
        produtoRemover.remove()
        calcularTotal()
    }

    function calcularTotal() {
        var total = 0;
        var quantidades = document.querySelectorAll('input[name="quantidade[]"]')
        var precos = document.querySelectorAll('select[name="produto[]"] option:checked')
        var frete = parseFloat(document.getElementById('frete').value || 0)

        for (var i = 0; i < precos.length; i++) {
            var preco = parseFloat(precos[i].textContent.split(' ')[precos[i].textContent.split(' ').length - 1])
            var quantidade = parseInt(quantidades[i].value)
            total += preco * quantidade
        }

        total += frete

        document.getElementById('total').value = total.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 })
    }
</script>