
<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">ISoap</h1>
  <p class="lead">Um sistema feito para o gerenciamento de venda de sabão!</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="/clientes/add" role="button">Adicionar Cliente</a>
  <a class="btn btn-primary btn-lg" href="/produtos/add" role="button">Adicionar Produto</a>
  <a class="btn btn-primary btn-lg" href="/pedidos/add" role="button">Adicionar Pedido</a>
  <a class="btn btn-primary btn-lg" href="/despesas/add" role="button">Adicionar Despesa</a>
</div>
<hr>
<h2>Pedidos recentes: </h2>

{{#each pedidos}}
<div class="card mt-4">
    <div class="card-body">
        <h4>Cliente: {{cliente.nome}}</h4>
        <p>Itens:</p>
        <ul>
            {{#each itens}}
                <li>{{produto.nome}} - R$ {{produto.preco}} - Quantidade: {{quantidade}}</li>
            {{/each}}
        </ul>
        <p>Forma de pagamento: {{pagamento}}</p>
        <p>Descrição: {{descricao}}</p>
        <p>Total: R$ {{total}}</p>
    </div>
</div>
{{else}}
    <h5>Nenhuma pedido registrado</h5>
{{/each}}
