<h2>Lista de produtos:</h2>
<hr>
<a href="/produtos/add"><button class="btn btn-success">Novo produto</button></a>

{{#each produtos}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>Nome: {{nome}}</h4>
            <p>Quantidade: {{quantidade}}</p>
            <p>Preço: {{preco}}</p>
            <p>Data: {{date}}</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="/produtos/edit/{{_id}}"><button class="btn btn-primary btn-sm">Editar</button></a>
                <a href="#" onclick="confirmDelete('{{_id}}')"><button class="btn btn-danger btn-sm">Deletar</button></a>
            </div>
        </div>
    </div>
{{else}}
    <h4 class="mt-3">Nenhum produto registrado</h4>
{{/each}}

<script>
function confirmDelete(produtoId) {
    const confirmed = confirm("Tem certeza de que deseja excluir este produto?");

    if(confirmed){
        window.location.href = `/produtos/deletar/${produtoId}`;
    }
}
</script>